<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恨水无伤|登录/注册</title>
</head>

<body>

    <div id="app"></div>

    <script src="/dist/js/login_register.js"></script>
</body>

</html>