<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/default.min.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse mgt5">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/">用户中心</a></li>
                        <li><a href="/admin/index">文章中心</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <ul class="article-list-control">
                    <li><a href="/admin/add-editor" target="_blank">添加文章</a></li>
                    <li><a href="javascript:;">音乐</a></li>
                    <li><a href="javascript:;">单词</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
            <div class="col-md-9">
      
            </div>
        </div>
    </div>





    <script src="/js/jquery-1.11.3.js"></script>
    <script src="/js/bootstrap.js"></script>


</body>
</html>