<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>music</title>

    <link rel="stylesheet" href="/css/mobile/music/index.css">

</head>

<body>


    <div id="search">

        <select v-model="selectVal">
            <option v-for="item in selectList" :value="item.type">{{item.value}}</option>
        </select>

        <input type="text" v-model="searchVal" />

        <button @click="search">search</button>

        <ol>
            <todo-item v-for="item in groceryList" :todo="item"></todo-item>
        </ol>

        <div>
            <a href="javascript:;" @click="prev">上一页</a>
            <a href="javascript:;" @click="next">下一页</a>
        </div>

        <h5>播放列表:</h5>
        <ol>
            <play-list v-for="item in playList" :item="item"></play-list>
        </ol>

        <music-box></music-box>

    </div>

    <script src="/js/vue.js"></script>
    <script src="/js/vuex.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/mobile/music/index.js"></script>

</body>

</html>