<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恨水无伤</title>
    <link rel="stylesheet" href="/css/index.min.css">
</head>

<body>
    <div id="app">
        <app></app>
    </div>
</body>
<script src="/dist/js/index.js"></script>

</html>