<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>나비가 되고 싶어 - Crepe - 网易云音乐</title>
    <meta name="keywords" content="나비가 되고 싶어，Rainy Emotion，Crepe，netease cloud music，cloudmusic，neteasemusic，neteasecloudmusic，music，netease，cloud"
    />
    <meta name="description" content="歌手：Crepe。所属专辑：Rainy Emotion。网易云音乐是一款专注于发现与分享的音乐产品，依托专业音乐人、DJ、好友推荐及社交功能，为用户打造全新的音乐生活。cloud，netease cloud music，cloudmusic，neteasemusic，neteasecloudmusic，music，netease"
    />

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link href="//s3.music.126.net/m/s/app.69444e92.css" rel="stylesheet">
</head>

<body>
    <div id="j-app" class="u-height">
        <div class="m-song" id="j-songwrap" data-reactroot="" data-reactid="1" data-react-checksum="1593394818">
            <div class="m-song-bg" style="background-image:url(http://music.163.com/api/img/blur/7951668092537850);opacity:0.5;"
                data-reactid="2"></div>
            <div class="" data-reactid="3">
                <div class="m-song-wrap m-song-wrapstop" data-reactid="4">
                    <div class="m-song-disc" data-reactid="5">
                        <div class="m-song-turn" data-reactid="6">
                            <div class="m-song-img" data-reactid="7"><img class="u-img" src="http://p1.music.126.net/TXLd_tmH0GkCodxtO_dWrg==/7951668092537850.jpg?imageView&amp;thumbnail=360x0&amp;quality=75&amp;tostatic=0"
                                    data-reactid="8" /></div>
                        </div>
                    </div>
                </div>
                <div class="m-song-info" data-reactid="9">
                    <div class="m-song-tl" data-reactid="10">
                        <h2 class="m-song-h2" data-reactid="11">나비가 되고 싶어</h2>
                        <div class="m-song-tfr" data-reactid="12"><span class="m-song-gap" data-reactid="13">-</span><b class="m-song-autr" data-reactid="14">Crepe</b></div>
                    </div>
                    <div class="m-song-lrc" data-reactid="15"></div>
                </div>
                <div class="m-song-scomt" data-reactid="16"></div>
            </div>
            <div class="u-footer" data-reactid="17">
                <div class="u-footer-wrap" data-reactid="18"><span class="u-btn u-btn-hollow u-btn-block u-btn-red" data-reactid="19">打 开</span><span class="u-btn u-btn-block u-btn-red"
                        data-reactid="20">下 载</span></div>
            </div>
        </div>
    </div>

    <script>
        window.REDUX_STATE = { "Song": { "info_request": false, "info": { "loaded": true, "song": { "album": { "id": 3165205, "name": "Rainy Emotion", "picUrl": "http://p1.music.126.net/TXLd_tmH0GkCodxtO_dWrg==/7951668092537850.jpg", "tns": [], "pic": 7951668092537850 }, "alias": [" I Want To Be A Butterfly"], "artists": [{ "id": 123386, "name": "Crepe", "tns": [], "alias": [] }], "commentThreadId": "R_SO_4_32683095", "copyrightId": 0, "duration": 225000, "id": 32683095, "mvid": 0, "name": "나비가 되고 싶어", "cd": "", "position": 4, "ringtone": null, "rtUrl": null, "status": 0, "pstatus": 0, "fee": 0, "version": 5, "songType": 0, "mst": 9, "score": 25, "ftype": 0, "rtUrls": [] }, "privilege": { "id": 32683095, "fee": 0, "payed": 0, "st": 0, "pl": 320000, "dl": 320000, "sp": 7, "cp": 1, "subp": 1, "cs": false, "maxbr": 192000, "fl": 320000, "toast": false, "flag": 0 }, "_pic": "http://p1.music.126.net/TXLd_tmH0GkCodxtO_dWrg==/7951668092537850.jpg?imageView&thumbnail=360x0&quality=75&tostatic=0", "_bg": "http://music.163.com/api/img/blur/7951668092537850", "_simp": { "songName": "나비가 되고 싶어", "singerName": "Crepe", "albumName": "Rainy Emotion" } }, "info_msg": "", "info_modal": 0, "deepLink": "orpheus://song/32683095", "params": { "from": "timeline", "id": "32683095", "userid": "42787572", "isappinstalled": "1" } }, "SongLyric": { "lyric": {}, "lyric_request": false, "lyric_msg": "" }, "SongPlay": { "play": {}, "playing": -1, "play_msg": "", "play_request": false }, "SongComment": { "request": false, "data": {}, "msg": "" } };

    </script>

    <script>
        !function (e) { function t(n) { if (r[n]) return r[n].exports; var a = r[n] = { exports: {}, id: n, loaded: !1 }; return e[n].call(a.exports, a, a.exports, t), a.loaded = !0, a.exports } var n = window.webpackJsonp; window.webpackJsonp = function (o, p) { for (var s, c, l = 0, i = []; l < o.length; l++)c = o[l], a[c] && i.push.apply(i, a[c]), a[c] = 0; for (s in p) Object.prototype.hasOwnProperty.call(p, s) && (e[s] = p[s]); for (n && n(o, p); i.length;)i.shift().call(null, t); if (p[0]) return r[0] = 0, t(0) }; var r = {}, a = { 1: 0 }; t.e = function (e, n) { if (0 === a[e]) return n.call(null, t); if (void 0 !== a[e]) a[e].push(n); else { a[e] = [n]; var r = document.getElementsByTagName("head")[0], o = document.createElement("script"); o.type = "text/javascript", o.charset = "utf-8", o.async = !0, o.src = t.p + "" + ({ 0: "song", 2: "libs", 3: "app" }[e] || e) + "." + { 0: "e5614de2", 2: "19b1adcb", 3: "e04ea197" }[e] + ".js", r.appendChild(o) } }, t.m = e, t.c = r, t.p = "//s3.music.126.net/m/s/" }([]);
    </script>
    <script type="text/javascript" src="//s3.music.126.net/m/s/libs.19b1adcb.js"></script>
    <script type="text/javascript" src="//s3.music.126.net/m/s/app.e04ea197.js"></script>
</body>

</html>