<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>恨水无伤|唐诗</title>

    <link rel="stylesheet" href="/css/poetry/poetry.min.css">

</head>

<body>

    <div id="poetry">
        <poerty-list-box></poerty-list-box>
    </div>
    <script src="/js/dist/poetry.js"></script>
</body>

</html>