@import "public.scss";
@import "reset.scss";
body {
    overflow: hidden;
}

.music {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.searchBox {
    $h: 60;
    $radius: 6px;
    font-size: v(30);
    @include center_center($pos: fixed, $top: 35%);
    width: 90%;
    padding: v(20) 5%;
    -webkit-transition: all .35s ease-out;
    transition: all .35s ease-out;
    background: #fff;
    z-index: 999;
    .selectListBox {
        position: relative;
        display: inline-block;
        height: v($h);
        line-height: v($h);
        padding: 0 v(15);
        vertical-align: middle;
        border: 1px solid #ededed;
        border-radius: $radius 0 0 $radius;
        background: #eee;
        color: #666;
        .selectItem {
            position: absolute;
            top: v($h);
            left: v(-2);
            white-space: nowrap;
            display: none;
            li {
                padding: 0 v(15);
                width: 100%;
                -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
                -webkit-transform-origin: top center;
                transform-origin: top center;
                background: #eee;
                &:last-child {
                    padding-bottom: v(15);
                    border-bottom-left-radius: $radius;
                    border-bottom-right-radius: $radius;
                }
            }
        }
    }
    .showSelectList {
        border-bottom-left-radius: 0;
        $time: .06;
        @for $i from 1 through 7 {
            .selectItem li:nth-child(#{$i}) {
                $s1: #{$time * $i}s;
                $s2: #{($i - 1 + .1) * $time}s;
                -webkit-animation: ani_selectItem $s1 $s2 ease-out both;
                animation: ani_selectItem $s1 $s2 ease-out both;
            }
        }
        .selectItem {
            display: block;
        }
        .selectItem:nth-child(1) {
            -webkit-transform: translate(10%, -20%);
            transform: translate(10%, -20%);
        }
    }
    .searchInput {
        width: auto;
        border: 1px solid #ededed;
        height: v($h);
        padding: 0 v(10);
        border-radius: 0 $radius $radius 0;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        &:focus {
            border-color: #ddd;
            box-shadow: 0 0 15px rgba(200, 200, 200, .5);
        }
    }
    .searchBtn {
        display: inline-block;
        vertical-align: middle;
        margin-left: v(10);
        cursor: pointer;
    }
    .musicPlan {
        float: right;
        margin-top: v(6);
        width: v(52);
        height: v(52);
        background: url(/images/mobile/music/music.png) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
}

.playListIcon {
    $v: 60;
    position: relative;
    width: v($v);
    height: v($v);
    font-size: v(42);
    cursor: pointer;
    span {
        width: v($v/2);
        height: v(2);
        border-top: v(2) solid #333;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    span:nth-child(1) {
        @include center($top: 30%);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    span:nth-child(2) {
        @include center_center;
    }
    span:nth-child(3) {
        @include center($top: 65%);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
}

.playListShow {
    span:nth-child(1) {
        -webkit-transform: rotate(48deg);
        transform: rotate(48deg);
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        -webkit-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }
}

.searchTop {
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    box-shadow: 0 v(5) v(15) rgba(3, 3, 3, .25);
}

@-webkit-keyframes ani_selectItem {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes ani_selectItem {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

.searchListBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    margin: v(110) 0 v(60);
}

.scrollBox {
    position: absolute;
    height: 100%;
    width: 85%;
    overflow-y: auto;
    padding: 0 v(60) 0 v(100);
    -webkit-overflow-scrolling: touch;
}

.pageBox {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: v(-80);
    a {
        display: inline-block;
        margin: 0 v(100);
        color: #333;
        font-size: v(22);
    }
}

.listBox {
    font-size: v(24);
    li {
        list-style: decimal;
        padding: v(15) 0;
        border-bottom: 1px dotted #ddd;
        .playListRemove {
            float: right;
            width: v(32);
            height: v(32);
            background: url(/images/mobile/music/delete.png) no-repeat center;
            background-size: cover;
        }
    }
}

.musicBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #333;
    color: #fff;
    overflow: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    .musicBg {
        @include center($top: 0, $other: scale(1.5));
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    .opacityBg {
        @include center_center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
    }
    $v: 80;
    .closeMusicBox {
        position: absolute;
        right: 0;
        top: 0;
        width: v($v);
        height: v($v);
        line-height: v($v);
        text-align: center;
        font-size: v(30);
    }
    .lyricBox {
        position: absolute;
        left: 0;
        bottom: v(20);
        padding: 0 10%;
        width: 80%;
        height: 32%;
        text-align: center;
        overflow-y: auto;
        font-size: v(24);
        -webkit-overflow-scrolling: touch;
        p {
            margin: v(10) 0;
            &:last-child {
                margin-bottom: v(150);
            }
        }
        .lyricCurrent {
            color: #f44;
        }
    }
}

.playBtnBox {
    @include center($top: 0);
    width: v(496);
    height: 100%;
    .disc {
        @include center($pos: relative, $top: v(140));
        width: v(496);
        height: v(496);
        background: url(/images/mobile/music/disc.png) no-repeat center;
        background-size: cover;
        &:before {
            @include center($top: 0);
            content: "";
            width: v(496);
            height: v(496);
            background: url(/images/mobile/music/disc_light.png) no-repeat center;
            background-size: cover;
        }
        .musicBoxImg {
            @include center_center;
            width: v(350);
            height: v(350);
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .needle {
            @include center($top: v(-150), $left: 60%, $other: rotateZ(-15deg));
            width: v(168);
            height: v(244);
            background: url(/images/mobile/music/needle.png) no-repeat center;
            background-size: cover;
            -webkit-transform-origin: v(30) top;
            transform-origin: v(30) top;
            -webkit-transition: all .5s linear;
            transition: all .5s linear;
        }
        .playBtn {
            @include center_center;
            width: v(80);
            height: v(80);
            border: 2px solid #fff;
            border-radius: 50%;
            &:after {
                @include center_center($other: scale(1.5));
                content: "〓";
                display: none;
            }
            &:before {
                @include center_center($other: rotateZ(90deg) scale(1.5));
                content: "▲";
            }
        }
    }
    .playStatus {
        .needle {
            @include center($top: v(-150), $left: 60%, $other: rotateZ(5deg));
        }
        .playBtn {
            &:after {
                display: block;
            }
            &:before {
                display: none;
            }
        }
    }
}

.openMusicBoxStatus {
    -webkit-animation: ani_openMusicBoxStatus .5s ease-out both;
    animation: ani_openMusicBoxStatus .5s ease-out both;
}

@-webkit-keyframes ani_openMusicBoxStatus {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ani_openMusicBoxStatus {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.playListBox {
    @extend .searchListBox;
    height: 80%;
    background: #eee;
    -webkit-animation: playListBox_ani .5s ease-out both;
    animation: playListBox_ani .5s ease-out both;
    h5 {
        margin: v(10) v(30);
    }
    .listBox {
        padding-bottom: v(150);
    }
}

@-webkit-keyframes playListBox_ani {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes playListBox_ani {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes playControllBox_ani {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes playControllBox_ani {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.playControllBox {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 120px;
    z-index: 666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation: playControllBox_ani .5s ease-out both;
    animation: playControllBox_ani .5s ease-out both;
    .playControllBoxTop {
        width: 100%;
        height: 20px;
        padding: 0 5%;
    }
    .audioTimeBox {
        position: relative;
        width: 100%;
        background: #ddd;
        $radius: 30;
        $color: #f00;
        .audioLine {
            height: 2px;
            width: 100%;
            background: $color;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }
        .audioBtn {
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: v($radius);
            height: v($radius);
            background: rgba(0, 0, 0, .5);
            border-radius: 50%;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            &:after {
                @include center_center;
                content: "";
                background: $color;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                z-index: 3;
                opacity: .8;
            }
        }
        .audioCurrentTime,
        .audioDuration {
            position: absolute;
            top: 0;
            font-size: v(12);
        }
        .audioCurrentTime {
            left: 0;
        }
        .audioDuration {
            right: 0;
        }
    }
    .playControllTitleBox {
        width: 90%;
        margin: 0 5%;
        padding: v(5) 0;
        text-align: center;
        p {
            max-height: 18px;
            overflow: hidden;
        }
        p:nth-child(2) {
            font-size: v(10);
        }
    }
    .playControllBoxLeft,
    .playControllBoxCenter,
    .playControllBoxRight {
        position: relative;
        height: 50px;
    }
    .playControllBoxLeft {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .condSingle {
            background: url(/images/mobile/music/cond_icon_0.png) no-repeat center;
        }
        .condRandom {
            background: url(/images/mobile/music/cond_icon_1.png) no-repeat center;
        }
        .condList {
            background: url(/images/mobile/music/cond_icon_2.png) no-repeat center;
        }
        .cond_icon {
            @include center_center($pos: relative, $other: scale(1.8));
            width: v(18);
            height: v(20);
            background-size: cover;
            opacity: .8;
            cursor: pointer;
            span {
                @include center_center($top: -50%, $other: scale(.5));
                width: v(115);
                font-size: v(12);
            }
        }
    }
    .playControllBoxCenter {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .playControllBoxRight {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .playListIcon {
            @include center_center;
        }
    }
    .audioNextBtn,
    .audioPrevBtn {
        $color: #333;
        @include center_center($left: 20%);
        border-left: 1px solid $color;
        border-right: 1px solid $color;
        height: v(32);
        width: v(32);
        cursor: pointer;
        &:after,
        &:before {
            position: absolute;
            left: 0;
            content: "";
            width: v(32);
            height: 0;
            -webkit-transform-origin: right center;
            transform-origin: right center;
        }
        &:after {
            top: 0;
            border-bottom: 1px solid $color;
            -webkit-transform: rotateZ(-31deg);
            transform: rotateZ(-31deg);
        }
        &:before {
            bottom: 0;
            border-top: 1px solid $color;
            -webkit-transform: rotateZ(28deg);
            transform: rotateZ(28deg);
        }
    }
    .audioNextBtn {
        @include center_center($left: 76%, $other: rotateZ(180deg));
    }
    .audioPlayBtn {
        @include center_center;
        margin-top: v(1);
        width: v(90);
        height: v(90);
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        &:after {
            @include center_center($other: scale(2));
            content: "〓";
            display: none;
        }
        &:before {
            @include center_center($other: rotateZ(90deg) scale(2));
            content: "▲";
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.playStatus {
    .audioPlayBtn {
        &:after {
            display: block;
        }
        &:before {
            display: none;
        }
    }
}

.alertBox {
    @include center_center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999999;
    .alertBoxContent {
        @include center_center($top: 35%);
        width: 80%;
        background: #fff;
        border-radius: 5px;
        h3 {
            padding: v(5) v(10);
            font-weight: normal;
            border-bottom: 1px dotted #ddd;
            background: #eee;
            border-radius: 5px 5px 0 0;
            $v: 35;
            span {
                float: right;
                height: v($v);
                line-height: v($v);
                width: v($v);
                text-align: center;
            }
        }
        .alertBoxText {
            min-height: v(180);
            max-height: v(380);
            overflow-y: auto;
            padding: v(20);
        }
        .alertBoxBtn {
            $v: 50;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: v($v);
            line-height: v($v);
            border-top: 1px dotted #ddd;
            text-align: center;
            a {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                color: #333;
            }
            a:last-child {
                border-left: 1px dotted #ddd;
            }
        }
    }
}

.loadBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25) url(/images/load.gif) no-repeat center;
    background-size: v(31*2);
    z-index: 99999;
}

.paginationBox {
    text-align: center;
    width: 100%;
    $h: 38;
    a {
        height: v($h);
        line-height: v($h);
        margin: 0 v(3);
        padding: 0 v(8);
        border: 1px solid #ddd;
        color: #666;
        font-size: v(20);
        display: inline-block;
        border-radius: 3px;
    }
    span {
        position: relative;
        top: v(-2);
        height: v($h);
        line-height: v($h);
        border-radius: 3px;
        padding: 0 v(12);
    }
    b {
        font-weight: normal;
    }
}