<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stock</title>

</head>
<body>

    <div id="stock">
        <app/>
    </div>
    
    <script src="/dist/js/stock.js"></script>
    
</body>
</html>