@import "index";
.article_box {
    padding: 0 30px 30px;
    min-height: 600px;
    font-size: 16px;
    margin-bottom: 150px;
    .fa-arrow-circle-left {
        cursor: pointer;
        transition: all .5s ease-out;
        &:hover {
            transform: translateX(-5px);
        }
    }
}

.iarticle_content_box {
    padding-bottom: 30px;
    word-wrap: break-word;
    word-break: normal;
    $h: 50px;
    .iarticle_title {
        padding: 5px 0;
        font-size: 24px;
        color: #333;
    }
    .iarticle_time_views {
        height: $h/2;
        line-height: $h/2;
        margin: 10px 0 20px;
        color: #999;
        font-size: 12px;
        border-bottom: 1px dotted #ddd;
        .iarticle_views {
            float: right;
        }
    }
    .iarticle_content {
        min-height: 350px;
        pre {
            width: 100%;
            overflow: auto;
        }
    }
}

.icomment_box {
    padding: 30px 0;
    $h: 35px;
    $c: #ddd;
    $r: 3px;
    label {
        margin-top: 10px;
        display: block;
        padding: 5px 0;
    }
    p {
        width: 100%;
        input {
            width: 98%;
            height: $h;
            line-height: $h;
            padding: 0 1%;
            border: 1px solid $c;
            border-radius: $r;
        }
        textarea {
            width: 98%;
            height: 150px;
            padding: 1%;
            border: 1px solid $c;
            border-radius: $r;
        }
    }
    .icomment_submit {
        margin-top: 15px;
        button {
            display: block;
            width: 100%;
            height: $h;
            line-height: $h;
            text-align: center;
            color: #fff;
            background: #333;
            border-radius: $r;
            transition: all .5s ease-out;
            &:hover {
                opacity: .8;
            }
        }
    }
}

.icomment_list {
    padding: 30px;
    $h: 60px;
    $c: #f1f1f1;
    $c1: #ddd;
    li {
        position: relative;
        margin: 10px 0;
        border-bottom: 1px solid $c;
        overflow: hidden;
        .iportrait {
            position: absolute;
            width: $h;
            height: $h;
            background: $c;
            border-radius: 5px;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }
        .icomment_list_box {
            margin-left: $h + 10px;
        }
        .icomment_list_name {
            padding: 10px 0;
            border-bottom: 1px dotted $c1;
            b {
                font-weight: bold;
                margin-right: 5px;
            }
            span {
                color: $c1;
            }
        }
        .icomment_list_content {
            padding: 10px 0;
        }
    }
}

.isource_box {
    margin: 30px 0 15px;
    font-size: 12px;
    a {
        color: #999;
    }
}

.iarticle_prev_next_link {
    margin: 15px 0;
    padding: 15px 0;
    overflow: hidden;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    .iarticle_prev_link {
        float: left;
    }
    .iarticle_next_link {
        float: right;
        i {
            margin-left: 5px;
        }
    }
    .iarticle_prev_link,
    .iarticle_next_link {
        max-width: 50%;
    }
    a {
        display: inline-block;
        vertical-align: top;
        color: #333;
        max-width: 85%;
        white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .5s ease-out;
        &:hover {
            color: #999;
        }
    }
}

.iarticle {
    position: relative;
    .loading_box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff url(/images/load.gif) no-repeat center;
    }
}

@media screen and (max-width: 1000px) {
    .article_box {
        padding: 0 0 30px;
        .fa-arrow-circle-left {
            margin-left: 30px;
        }
    }
    .iarticle_content_box {
        padding: 0;
    }
    .iarticle_prev_next_link,
    .icomment_box {
        margin: 0 30px;
    }
}