html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
img,
a,
dl,
dt,
dd,
ul,
ol,
li,
pre,
em,
strong,
b,
i,
fieldset,
form,
label,
legend,
button,
input,
textarea,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body,
button,
input,
select,
textarea {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

em,
i {
  font-style: normal;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

input,
select,
img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-home:before {
  content: "\f015";
}

.fa-music:before {
  content: "\f001";
}

.fa-heart:before {
  content: "\f004";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-user:before {
  content: "\f007";
}

.fa-hashtag:before {
  content: "\f292";
}

.fa-search:before {
  content: "\f002";
}

.fa-user-o:before {
  content: "\f2c0";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-wrench:before {
  content: "\f0ad";
}

.icopy {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.long_white {
  margin: 30px auto 0;
  width: 219px;
  height: 300px;
  background: url(/images/long_white.png) no-repeat center;
  opacity: .05;
}

.ibody {
  height: 100%;
  overflow-y: auto;
}

.ibody .ileft {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background: #333;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ibody .ileft .ihead {
  height: 100px;
  width: 100px;
  margin: 30px auto;
  border-radius: 50%;
  overflow: hidden;
}

.ibody .ileft .ihead img {
  display: block;
  width: 100%;
  opacity: .85;
  border-radius: 50%;
}

.ibody .ileft .inav {
  margin: 20px;
}

.ibody .ileft .inav li {
  height: 35px;
  line-height: 35px;
  text-align: right;
}

.ibody .ileft .inav li a {
  display: block;
  font-size: 14px;
}

.ibody .ileft .inav li a span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.ibody .ileft .inav li a i {
  margin-right: 5px;
}

.ibody .ileft .inav li a:hover span {
  opacity: 1;
}

.ibody .ileft a {
  color: #fff;
}

.ibody .iright {
  min-height: 100%;
  margin-left: 230px;
  position: relative;
  max-width: 60%;
  min-height: 300px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ibody .iright .icontext {
  padding-bottom: 150px;
}

.ibody .iright .iarticle {
  padding: 0 30px 30px;
}

.ibody .iright .iarticle li {
  position: relative;
  margin-top: 30px;
  word-wrap: break-word;
  word-break: normal;
  border-bottom: 1px dashed #ededed;
}

.ibody .iright .iarticle li i {
  margin-right: 5px;
}

.ibody .iright .iarticle li a {
  color: #333;
}

.ibody .iright .iarticle li h5 {
  font-size: 20px;
}

.ibody .iright .iarticle li:hover .ibox_ani_1:after {
  -webkit-animation: box_height_left_ani 4s 0.5s ease-out infinite;
  animation: box_height_left_ani 4s 0.5s ease-out infinite;
}

.ibody .iright .iarticle li:hover .ibox_ani_1:before {
  -webkit-animation: box_width_bottom_ani 4s 0.5s ease-out infinite;
  animation: box_width_bottom_ani 4s 0.5s ease-out infinite;
}

.ibody .iright .iarticle li:hover .ibox_ani_2:after {
  -webkit-animation: box_height_right_ani 4s 0.5s ease-out infinite;
  animation: box_height_right_ani 4s 0.5s ease-out infinite;
}

.ibody .iright .iarticle li:hover .ibox_ani_2:before {
  -webkit-animation: box_width_top_ani 4s 0.5s ease-out infinite;
  animation: box_width_top_ani 4s 0.5s ease-out infinite;
}

.ibody .iright .iarticle li p {
  padding: 10px 0;
}

.ibody .iright .iarticle li .iread_more {
  display: inline-block;
  color: #ddd;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.ibody .iright .iarticle li .iread_more:hover {
  color: #333;
}

.ibody .iright .iarticle .ibox_ani_1 {
  padding: 10px;
}

.ibody .iright .iarticle .ibox_ani_1:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 0;
  width: 1px;
  background: #999;
}

.ibody .iright .iarticle .ibox_ani_1:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #999;
}

.ibody .iright .iarticle .ibox_ani_2:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  height: 0;
  width: 1px;
  background: #999;
}

.ibody .iright .iarticle .ibox_ani_2:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 1px;
  background: #999;
}

@-webkit-keyframes box_height_left_ani {
  0% {
    height: 100%;
    opacity: 1;
  }
  24% {
    height: 100%;
    opacity: 0;
  }
  25% {
    height: 0;
    opacity: 0;
  }
  26% {
    height: 0;
    opacity: 1;
  }
  75% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes box_height_left_ani {
  0% {
    height: 100%;
    opacity: 1;
  }
  24% {
    height: 100%;
    opacity: 0;
  }
  25% {
    height: 0;
    opacity: 0;
  }
  26% {
    height: 0;
    opacity: 1;
  }
  75% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes box_width_bottom_ani {
  0% {
    width: 0;
    opacity: 1;
  }
  25% {
    width: 100%;
  }
  26% {
    opacity: 1;
  }
  50%,
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes box_width_bottom_ani {
  0% {
    width: 0;
    opacity: 1;
  }
  25% {
    width: 100%;
  }
  26% {
    opacity: 1;
  }
  50%,
  100% {
    width: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes box_height_right_ani {
  25% {
    height: 0;
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  51% {
    opacity: 1;
  }
  75%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes box_height_right_ani {
  25% {
    height: 0;
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  51% {
    opacity: 1;
  }
  75%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes box_width_top_ani {
  50% {
    width: 0;
    opacity: 1;
  }
  75% {
    width: 100%;
    opacity: 1;
  }
  76% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes box_width_top_ani {
  50% {
    width: 0;
    opacity: 1;
  }
  75% {
    width: 100%;
    opacity: 1;
  }
  76% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.isearch_box {
  padding: 30px;
  overflow: hidden;
}

.isearch_box .isearch_input {
  float: right;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.isearch_box .isearch_input input {
  height: 30px;
  line-height: 30px;
  width: 150px;
  padding: 0 10px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.isearch_box .isearch_input i {
  margin: 0 5px;
  color: #eee;
}

.isearch_box .isearch_btn {
  float: right;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid #ddd;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #999;
  cursor: pointer;
}

.imenu {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 25px;
  cursor: pointer;
  display: none;
}

.imenu span {
  display: block;
  height: 1px;
  background: #000;
  margin: 5px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 1000px) {
  .imenu {
    display: block;
  }
  .ibody .ileft {
    left: -230px;
    box-shadow: none;
  }
  .ibody .iright {
    margin-left: 0;
    max-width: 100%;
  }
  .ibody .imenuBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 3000px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 99;
  }
  .showMenu .ileft {
    left: 0;
  }
  .showMenu .iright {
    margin-left: 230px;
  }
  .showMenu .irouter_view,
  .showMenu .isearch_box {
    display: none;
    -webkit-animation: opacity_zero .5s both;
    animation: opacity_zero .5s both;
  }
  .showMenu .imenuBg {
    display: block;
    left: 230px;
    -webkit-animation: imenuAni .5s .25s both;
    animation: imenuAni .5s .25s both;
  }
}

@-webkit-keyframes opacity_zero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity_zero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes imenuAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imenuAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article_box {
  padding: 0 30px 30px;
  min-height: 600px;
  font-size: 16px;
  margin-bottom: 150px;
}

.article_box .fa-arrow-circle-left {
  cursor: pointer;
  transition: all .5s ease-out;
}

.article_box .fa-arrow-circle-left:hover {
  transform: translateX(-5px);
}

.iarticle_content_box {
  padding-bottom: 30px;
  word-wrap: break-word;
  word-break: normal;
}

.iarticle_content_box .iarticle_title {
  padding: 5px 0;
  font-size: 24px;
  color: #333;
}

.iarticle_content_box .iarticle_time_views {
  height: 25px;
  line-height: 25px;
  margin: 10px 0 20px;
  color: #999;
  font-size: 12px;
  border-bottom: 1px dotted #ddd;
}

.iarticle_content_box .iarticle_time_views .iarticle_views {
  float: right;
}

.iarticle_content_box .iarticle_content {
  min-height: 350px;
}

.iarticle_content_box .iarticle_content pre {
  width: 100%;
  overflow: auto;
}

.icomment_box {
  padding: 30px 0;
}

.icomment_box label {
  margin-top: 10px;
  display: block;
  padding: 5px 0;
}

.icomment_box p {
  width: 100%;
}

.icomment_box p input {
  width: 98%;
  height: 35px;
  line-height: 35px;
  padding: 0 1%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.icomment_box p textarea {
  width: 98%;
  height: 150px;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.icomment_box .icomment_submit {
  margin-top: 15px;
}

.icomment_box .icomment_submit button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 3px;
  transition: all .5s ease-out;
}

.icomment_box .icomment_submit button:hover {
  opacity: .8;
}

.icomment_list {
  padding: 30px;
}

.icomment_list li {
  position: relative;
  margin: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  overflow: hidden;
}

.icomment_list li .iportrait {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #e1e1e1;
  border-radius: 5px;
}

.icomment_list li .iportrait i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.icomment_list li .icomment_list_box {
  margin-left: 70px;
}

.icomment_list li .icomment_list_name {
  padding: 10px 0;
  border-bottom: 1px dotted #ddd;
}

.icomment_list li .icomment_list_name b {
  font-weight: bold;
  margin-right: 5px;
}

.icomment_list li .icomment_list_name span {
  color: #ddd;
}

.icomment_list li .icomment_list_content {
  padding: 10px 0;
}

.isource_box {
  margin: 30px 0 15px;
  font-size: 12px;
}

.isource_box a {
  color: #999;
}

.iarticle_prev_next_link {
  margin: 15px 0;
  padding: 15px 0;
  overflow: hidden;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}

.iarticle_prev_next_link .iarticle_prev_link {
  float: left;
}

.iarticle_prev_next_link .iarticle_next_link {
  float: right;
}

.iarticle_prev_next_link .iarticle_next_link i {
  margin-left: 5px;
}

.iarticle_prev_next_link .iarticle_prev_link,
.iarticle_prev_next_link .iarticle_next_link {
  max-width: 45%;
}

.iarticle_prev_next_link a {
  display: inline-block;
  vertical-align: top;
  color: #333;
  max-width: 88%;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .5s ease-out;
}

.iarticle_prev_next_link a:hover {
  color: #999;
}

.iarticle {
  position: relative;
}

.iarticle .loading_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url(/images/load.gif) no-repeat center;
}

@media screen and (max-width: 1000px) {
  .article_box {
    padding: 0 0 30px;
  }
  .article_box .fa-arrow-circle-left {
    margin-left: 30px;
  }
  .iarticle_content_box {
    padding: 0;
  }
  .iarticle_prev_next_link,
  .icomment_box {
    margin: 0 30px;
  }
}
