html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
img,
a,
dl,
dt,
dd,
ul,
ol,
li,
pre,
em,
strong,
b,
i,
fieldset,
form,
label,
legend,
button,
input,
textarea,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body,
button,
input,
select,
textarea {
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

em,
i {
    font-style: normal;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
select,
img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-home:before {
    content: "\f015";
}

.fa-music:before {
    content: "\f001";
}

.fa-heart:before {
    content: "\f004";
}

.fa-tags:before {
    content: "\f02c";
}

.fa-user:before {
    content: "\f007";
}

.fa-hashtag:before {
    content: "\f292";
}

.fa-search:before {
    content: "\f002";
}

.fa-user-o:before {
    content: "\f2c0";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-times-rectangle:before,
.fa-window-close:before {
    content: "\f2d3";
}

.fa-arrow-circle-left:before {
    content: "\f0a8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9";
}

.fa-file-word-o:before {
    content: "\f1c2";
}

.fa-wrench:before {
    content: "\f0ad";
}

.icopy {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    text-align: center;
}

.long_white {
    margin: 30px auto 0;
    width: 219px;
    height: 300px;
    background: url(/images/long_white.png) no-repeat center;
    opacity: .05;
    animation: ani_long_white 5s ease-out infinite;
}

@keyframes ani_long_white {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.ibody {
    height: 100%;
    overflow-y: auto;
    $mgleft: 230px;
    .ileft {
        $c: #fff;
        position: fixed;
        left: 0;
        top: 0;
        width: $mgleft;
        height: 100%;
        background: #333;
        color: $c;
        -webkit-transition: all .5s;
        transition: all .5s;
        .ihead {
            $h: 100px;
            height: $h;
            width: $h;
            margin: 30px auto;
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                opacity: .85;
                border-radius: 50%;
            }
        }
        .inav {
            margin: 20px;
            $h: 35px;
            li {
                height: $h;
                line-height: $h;
                text-align: right;
                a {
                    display: block;
                    font-size: 14px;
                    span {
                        $v: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        width: $v;
                        height: $v;
                        background: #eee;
                        border-radius: 50%;
                        margin-right: $v/2;
                        opacity: 0;
                        -webkit-transition: all .5s ease-out;
                        transition: all .5s ease-out;
                    }
                    i {
                        margin-right: 5px;
                    }
                    &:hover {
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        a {
            color: $c;
        }
    }
    .iright {
        $c: #333;
        left: $mgleft;
        position: relative;
        max-width: 60%;
        min-height: 100%;
        -webkit-transition: all .5s;
        transition: all .5s;
        background: #fff;
        .icontext {
            padding-bottom: 150px;
        }
        .iarticle {
            padding: 0 30px 30px;
            li {
                position: relative;
                margin-top: 30px;
                word-wrap: break-word;
                word-break: normal;
                i {
                    margin-right: 5px;
                }
                a {
                    color: $c;
                }
                h5 {
                    font-size: 20px;
                }
                border-bottom: 1px dashed #ededed;
                $delayed: .5s;
                &:hover {
                    .ibox_ani_1 {
                        &:after {
                            -webkit-animation: box_height_left_ani 4s $delayed ease-out infinite;
                            animation: box_height_left_ani 4s $delayed ease-out infinite;
                        }
                        &:before {
                            -webkit-animation: box_width_bottom_ani 4s $delayed ease-out infinite;
                            animation: box_width_bottom_ani 4s $delayed ease-out infinite;
                        }
                    }
                    .ibox_ani_2 {
                        &:after {
                            -webkit-animation: box_height_right_ani 4s $delayed ease-out infinite;
                            animation: box_height_right_ani 4s $delayed ease-out infinite;
                        }
                        &:before {
                            -webkit-animation: box_width_top_ani 4s $delayed ease-out infinite;
                            animation: box_width_top_ani 4s $delayed ease-out infinite;
                        }
                    }
                }
                p {
                    padding: 10px 0;
                    color: #666;
                }
                .iread_more {
                    display: inline-block;
                    color: #bbb;
                    -webkit-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                    &:hover {
                        color: $c;
                    }
                }
            }
            $b: #999;
            .ibox_ani_1 {
                padding: 10px;
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "";
                    height: 0;
                    width: 1px;
                    background: $b;
                }
                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background: $b;
                }
            }
            .ibox_ani_2 {
                &:after {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    content: "";
                    height: 0;
                    width: 1px;
                    background: $b;
                }
                &:before {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 1px;
                    background: $b;
                }
            }
        }
    }
}

@-webkit-keyframes box_height_left_ani {
    0% {
        height: 100%;
        opacity: 1;
    }
    24% {
        height: 100%;
        opacity: 0;
    }
    25% {
        height: 0;
        opacity: 0;
    }
    26% {
        height: 0;
        opacity: 1;
    }
    75% {
        height: 0;
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes box_height_left_ani {
    0% {
        height: 100%;
        opacity: 1;
    }
    24% {
        height: 100%;
        opacity: 0;
    }
    25% {
        height: 0;
        opacity: 0;
    }
    26% {
        height: 0;
        opacity: 1;
    }
    75% {
        height: 0;
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

@-webkit-keyframes box_width_bottom_ani {
    0% {
        width: 0;
        opacity: 1;
    }
    25% {
        width: 100%;
    }
    26% {
        opacity: 1;
    }
    50%,
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes box_width_bottom_ani {
    0% {
        width: 0;
        opacity: 1;
    }
    25% {
        width: 100%;
    }
    26% {
        opacity: 1;
    }
    50%,
    100% {
        width: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes box_height_right_ani {
    25% {
        height: 0;
        opacity: 1;
    }
    50% {
        height: 100%;
    }
    51% {
        opacity: 1;
    }
    75%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes box_height_right_ani {
    25% {
        height: 0;
        opacity: 1;
    }
    50% {
        height: 100%;
    }
    51% {
        opacity: 1;
    }
    75%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes box_width_top_ani {
    50% {
        width: 0;
        opacity: 1;
    }
    75% {
        width: 100%;
        opacity: 1;
    }
    76% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes box_width_top_ani {
    50% {
        width: 0;
        opacity: 1;
    }
    75% {
        width: 100%;
        opacity: 1;
    }
    76% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.isearch_box {
    padding: 30px;
    overflow: hidden;
    $h: 30px;
    $v: 5px;
    $c: #ddd;
    .isearch_input {
        float: right;
        border: 1px solid $c;
        border-top-left-radius: $v;
        border-bottom-left-radius: $v;
        input {
            height: $h;
            line-height: $h;
            width: 150px;
            padding: 0 10px;
            -webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
            border-top-left-radius: $v;
            border-bottom-left-radius: $v;
        }
        .active_ipt {}
        i {
            margin: 0 5px;
            color: #eee;
        }
    }
    .isearch_btn {
        float: right;
        height: $h;
        line-height: $h;
        width: $h;
        text-align: center;
        border: 1px solid $c;
        border-left: none;
        border-top-right-radius: $v;
        border-bottom-right-radius: $v;
        color: #999;
        cursor: pointer;
    }
}

.imenu {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 25px;
    cursor: pointer;
    display: none;
    span {
        display: block;
        height: 1px;
        background: #000;
        margin: 5px 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

@media screen and (max-width: 1000px) {
    .imenu {
        display: block;
    }
    $v: 230px;
    .ibody {
        position: absolute;
        width: 100%;
        overflow-x: hidden;
        .ileft {
            box-shadow: none;
        }
        .iright {
            position: absolute;
            left: 0;
            max-width: 100%;
            width: 100%;
            z-index: 2;
        }
        .imenuBg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            height: 3000px;
            -webkit-transition: all .5s;
            transition: all .5s;
            z-index: 99;
        }
    }
    .showMenu {
        .ileft {
            left: 0;
        }
        .iright {
            margin-left: $v;
        }
        .irouter_view {
            display: none;
            -webkit-animation: opacity_zero .5s both;
            animation: opacity_zero .5s both;
        }
        .imenuBg {
            display: block;
            left: $v;
            -webkit-animation: imenuAni .5s .25s both;
            animation: imenuAni .5s .25s both;
        }
    }
}

@-webkit-keyframes opacity_zero {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity_zero {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes imenuAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imenuAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article_box {
    padding: 0 30px 30px;
    min-height: 600px;
    font-size: 16px;
    margin-bottom: 150px;
    .fa-arrow-circle-left {
        cursor: pointer;
        transition: all .5s ease-out;
        &:hover {
            transform: translateX(-5px);
        }
    }
}

.iarticle_content_box {
    padding-bottom: 30px;
    word-wrap: break-word;
    word-break: normal;
    $h: 50px;
    .iarticle_title {
        padding: 5px 0;
        font-size: 24px;
        color: #333;
    }
    .iarticle_time_views {
        height: $h/2;
        line-height: $h/2;
        margin: 10px 0 20px;
        color: #999;
        font-size: 12px;
        border-bottom: 1px dotted #ddd;
        .iarticle_views {
            float: right;
        }
    }
    .iarticle_content {
        min-height: 350px;
        pre {
            width: 100%;
            overflow: auto;
        }
    }
}

.icomment_box {
    padding: 30px 0;
    $h: 35px;
    $c: #ddd;
    $r: 3px;
    label {
        margin-top: 10px;
        display: block;
        padding: 5px 0;
    }
    p {
        width: 100%;
        input {
            width: 98%;
            height: $h;
            line-height: $h;
            padding: 0 1%;
            border: 1px solid $c;
            border-radius: $r;
        }
        textarea {
            width: 98%;
            height: 150px;
            padding: 1%;
            border: 1px solid $c;
            border-radius: $r;
        }
    }
    .icomment_submit {
        margin-top: 15px;
        button {
            display: block;
            width: 100%;
            height: $h;
            line-height: $h;
            text-align: center;
            color: #fff;
            background: #333;
            border-radius: $r;
            transition: all .5s ease-out;
            &:hover {
                opacity: .8;
            }
        }
    }
}

.icomment_list {
    padding: 30px;
    $h: 60px;
    $c: #f1f1f1;
    $c1: #ddd;
    li {
        position: relative;
        margin: 10px 0;
        border-bottom: 1px solid $c;
        overflow: hidden;
        .iportrait {
            position: absolute;
            width: $h;
            height: $h;
            background: $c;
            border-radius: 5px;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }
        .icomment_list_box {
            margin-left: $h + 10px;
        }
        .icomment_list_name {
            padding: 10px 0;
            border-bottom: 1px dotted $c1;
            b {
                font-weight: bold;
                margin-right: 5px;
            }
            span {
                color: $c1;
            }
        }
        .icomment_list_content {
            padding: 10px 0;
        }
    }
}

.isource_box {
    margin: 30px 0 15px;
    font-size: 12px;
    a {
        color: #999;
    }
}

.iarticle_prev_next_link {
    margin: 15px 0;
    padding: 15px 0;
    overflow: hidden;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    .iarticle_prev_link {
        float: left;
    }
    .iarticle_next_link {
        float: right;
        i {
            margin-left: 5px;
        }
    }
    .iarticle_prev_link,
    .iarticle_next_link {
        max-width: 50%;
    }
    a {
        display: inline-block;
        vertical-align: top;
        color: #333;
        max-width: 85%;
        white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .5s ease-out;
        &:hover {
            color: #999;
        }
    }
}

.iarticle {
    position: relative;
    .loading_box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff url(/images/load.gif) no-repeat center;
    }
}

@media screen and (max-width: 1000px) {
    .article_box {
        padding: 0 0 30px;
        .fa-arrow-circle-left {
            margin-left: 30px;
        }
    }
    .iarticle_content_box {
        padding: 0;
    }
    .iarticle_prev_next_link,
    .icomment_box {
        margin: 0 30px;
    }
}