<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,minimum-scale=1" />
    <title>music</title>

    <% include ../template/headScript.ejs %>

    <link rel="stylesheet" href="/css/mobile/music/index.css">

</head>

<body>


    <div id="music" class="music" ref="music">
        <touch-move-prevent></touch-move-prevent>

        <search-box></search-box>

        <search-list-box></search-list-box>


        <div class="playListBox" v-if="false">
            <ol class="listBox">
                <list-box v-for="item in playList" :todo="item"></list-box>
            </ol>
        </div>

        <music-box></music-box>

        <load-box></load-box>

    </div>

    <script src="/js/vue.js"></script>
    <script src="/js/vuex.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/mobile/music/index.js"></script>

</body>

</html>