<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,minimum-scale=1" />
    <title>music</title>

    <% include ../template/headScript.ejs %>

        <link rel="stylesheet" href="/css/mobile/music/index.css">

</head>

<body>


    <div id="music" class="music" ref="music">

        <touch-move-prevent></touch-move-prevent>

        <search-box></search-box>

        <search-list-box></search-list-box>

        <play-list></play-list>

        <music-box></music-box>

        <load-box></load-box>

        <play-controll-box></play-controll-box>
    </div>

    <script src="/js/vue.js"></script>
    <script src="/js/vuex.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/mobile/music/index.js"></script>
    <script>
        let scroll = {}

        scroll.install = (Vue) => {



        }

        if (typeof exports == "Object") {
            module.exports = scroll
        } else if (typeof define == "function" && define.amd) {
            define([], function() {
                return scroll
            })

        } else if (window.Vue) {
            window.scroll = scroll
            Vue.use(scroll)
        }
    </script>
</body>

</html>